.home {
  text-align: center;
  padding: 40px 20px;
}

.image-container {
  max-width: 800px;
  margin: 20px auto;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);*/
}

.audio-player {
  text-align: center;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #361F68;
  color: #DECD92;
  border: 1px solid #DECD92;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2E1959;
}
.video-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

video {
  border: 3px solid #361F68;
  border-radius: 10px;
}
@media (max-width: 768px) {
  video {
    width: 100%; /* Ensure the video resizes to fit smaller screens */
  }
}
