.image-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.headphones-img {
  width: 100%;
  height: auto;
  display: block;
}

.feature-spot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(54, 31, 104, 0.8);
  border: 1px solid #DECD92;
  border-radius: 50%;
  cursor: pointer;
}

.feature-spot:hover {
  background-color: rgba(54, 31, 104, 1);
}

.feature-description {
  margin-top: 20px;
  padding: 10px;
  background-color: #130621;
  border: 1px solid #DECD92;
  border-radius: 5px;
  max-width: 600px;
  color: #DECD92;
}

.feature-image img {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.feature-description h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.feature-description p {
  margin: 0;
  font-size: 1rem;
}
